@import url(http://fonts.googleapis.com/css?family=Vibur);
* {
  box-sizing: border-box;
  font-family: arial;
}

body {
  background: #797675;
}


.form {
  width: 600px;
  padding: 40px 30px;
  background: #eee;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}






